@using HTQLSpa.Controllers;

@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (LoginController.accountID != "" && (LoginController.account_type == "Admin" || LoginController.account_type == "Employee"))
{
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
	    <div class="navbar-nav ml-auto py-0">
		    <a href="" class="nav-item nav-link">Danh sách Nhân viên</a>
	    </div>
    </div>
    <a asp-controller="Employee" asp-action="Create"><input type="submit" name="Submit" value="Thêm Nhân viên"></a>
    </nav>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr align="center" >
                <th align="center" width="5%">
                    Mã NV
                </th>
                <th align="center"  width="10%">
                    Tên NV
                </th>
                <th align="center"  width="10%">
                    Ngày sinh
                </th>
                <th align="center"  width="10%">
                    Địa chỉ
                </th>
                <th align="center"  width="10%">
                    SĐT
                </th>
                <th align="center"  width="10%">
                    Chức vụ
                </th>
                <th align="center"  width="10%">
                    Tên TK
                </th>
                <th align="center"  width="10%">
                    Mật khẩu
                </th>
                <th align="center"  width="10%">
                    Loại TK
                </th>
                <th align="center"  width="15%">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr align="center">
                    <td>
                        @obj.EmployeeID
                    </td>
                    <td>
                        @obj.EmployeeName
                    </td>
                    <td>
                        @obj.DoB
                    </td>
                    <td>
                        @obj.EmployeeAddress
                    </td>
                    <td>
                        @obj.PhoneNumber
                    </td>
                    <td>
                        @obj.Position
                    </td>
                    <td>
                        @obj.AccountID
                    </td>
                    <td>
                        @obj.Password
                    </td>
                    <td>
                        @obj.Role
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.EmployeeID">
                            <input type="submit" name="Submit" value="Sửa">
                        </a>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.EmployeeID">
                            <input type="submit" name="Submit" value="Xoá">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Bạn cần đăng nhập tài khoản để xem trang này</p>
}


